@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$fonts: "open-sans", sans-serif;
$gallery-color: #B49C76;

body {
    font-family: $fonts;
}

.gallery .container {
    width: 950px;
}

[class*="col-"] {
    padding: 0;
}

row::before,
row::after {
    content: "";
    display: table;
    clear: both;
}

span {
    font-style: italic;
    font-size: 12px;
}

h4 {
    margin: 0;
}

.gallery-content {
    padding: 20px 40px;
}

.gallery-inside {
    height: 250px;
    position: relative;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.layer {
    div {
        border: 2px solid $gallery-color;
        text-transform: uppercase;
        color: $gallery-color;
        display: none;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        width: 100px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        }
    p {
        margin: 0;
    }
}

.layer {
	width: 100%;
    height: 100%;
    position: absolute;
}

 .layer:hover {
 	background-color: rgba(0,0,0, 0.7 );	
 	cursor: pointer;
 	transition: .8s;
}

.layer:hover div {
	display: block;    
}


